@inject AppService service

<div class="controls">
    @foreach (var control in controls)
    {
        <Control Url="@control.Url"
             Icon=@control.Icon />
    }
</div>

<ThemeButton />

@code {
    private List<ControlData> controls = new List<ControlData>();

    protected override async Task OnInitializedAsync()
    {
        controls = await service.GetControls();
    }
}
