<div class="contact-item">
    <div class="icon">
        <i class=@Icon></i>
        <span>@Title</span>
    </div>
    <p>@Text</p>
</div>

@code {
    [Parameter]
    public string Icon { get; set; } = string.Empty;
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string Text { get; set; } = string.Empty;
}
