<div class="portfolio-item">
    <div class="image">
        <img src=@Image alt="">
    </div>
    <div class="hover-items">
        <h3>Ver Projecto</h3>
        <div class="icons">
            @if (UrlGitHub != string.Empty)
            {
                <SocialIcon Url=@UrlGitHub Icon="fab fa-github" Class="icon" />
            }
            <SocialIcon Url=@Url Icon="fab fa-behance" Class="icon" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Image { get; set; } = string.Empty;

    [Parameter]
    public string Url { get; set; } = string.Empty;

    [Parameter]
    public string UrlGitHub { get; set; } = string.Empty;
}
