<div class="progress-bar">
    <p class="prog-title">@Title</p>
    <div class="progress-con">
        <p class="prog-text">@Percent</p>
        <div class="progress">
            <span class="perc-@Percent.Replace("%","")"></span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Percent { get; set; } = string.Empty;

}
