@page "/about"

<PageTitle>Portifólio - @RepositoryData.PersonalInfo.FullName</PageTitle>

<section class="container about active">

    <MainTitle Text1="Sobre" Text2="Mim" TextBack="my stats" />

    <div class="about-container">
        <div class="left-about">
            <h4>Informações sobre min</h4>
            <p>@RepositoryData.PersonalInfo.Description</p>
            <CVButton />
        </div>

        <div class="right-about">
            @foreach (var item in RepositoryData.AboutItems)
            {
                <AboutItem Title=@item.Title PrimaryText=@item.PrimaryText SecundaryText=@item.SecundaryText />
            }
        </div>
    </div>

    <div class="about-stats">

        <StatTitle Title="minhas HABILIDADES" />

        <div class="progress-bars">
            @foreach (var item in _itemDatas)
            {
                <ProgressBar Title=@item.Title Percent=@item.Percent />
            }
        </div>
    </div>

    <StatTitle Title="Linha do Tempo..." />

    <div class="timeline">
        @foreach (var item in RepositoryData.TimeLineItems)
        {
            <TimeLineItem Title=@item.Title Position=@item.Position Local=@item.Local Description=@item.Description Icon=@item.Icon />
        }
    </div>
</section>

@code {
    private List<ProgressBarData> _itemDatas = RepositoryData.ProgressBars;
}
