@page "/blogs"

<section class="container active" id="blogs">
    <div class="blogs-content">
        <div class="main-title">
            <h2>Meu <span>Blog</span><span class="bg-text">My Blogs</span></h2>
        </div>
        <div class="blogs">
            <BlogItem Image="img/port6.jpg"
                      Title="Minimal APIs .NET6"
                      Description="Venha aprender o que são minimal APIs no novo .NET (6/7)" />

            <BlogItem Image="img/port4.jpg"
                      Title="Minimal APIs .NET6"
                      Description="Venha aprender o que são minimal APIs no novo .NET (6/7)" />
        </div>
    </div>
</section>

@code {

}
