@page "/contact"
@inject AppService service

<section class="container contact active">
    <div class="contact-container">

        <MainTitle Text1="Entre em" Text2="Contacto" TextBack="Contact" />

        <div class="contact-content-con">
            <div class="left-contact">
                <h4>Entre em Contacto comigo</h4>
                <p></p>
                <div class="contact-info">
                    @foreach (var item in _data.Contacts)
                    {
                        <ContactItem Icon=@item.Icon Title=@item.Title Description=@item.Description />
                    }
                </div>
                <div class="contact-icons">
                    <div class="contact-icon">
                        @foreach (var item in _data.Socials)
                        {
                            <SocialIcon Icon=@item.Icon Url=@item.Url />
                        }
                    </div>
                </div>
            </div>

            <div class="right-contact">
                <form action="" class="contact-form">
                    <div class="input-control i-c-2">
                        <input type="text" required placeholder="SEU NOME">
                        <input type="email" required placeholder="SEU E-MAIL">
                    </div>
                    <div class="input-control">
                        <input type="text" required placeholder="ASSUNTO">
                    </div>
                    <div class="input-control">
                        <textarea name="" id="" cols="15" rows="8" placeholder="MESSAGEM"></textarea>
                    </div>
                    <div class="submit-btn">
                        <a href="" class="main-btn">
                            <span class="btn-text">Enviar e-mail</span>
                            <span class="btn-icon"><i class="fas fa-envelope"></i></span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@code {
    ContactViewModel _data = new ContactViewModel();

    protected override async Task OnInitializedAsync() => _data = await service.GetContasPage();
}
