@page "/"
@inject AppService service

<PageTitle>Portifólio - @_data.FullName</PageTitle>

<header class="container header active">
    <div class="header-content">
        <div class="left-header">
            <div class="h-shape"></div>
            <div class="image">
                <img src="img/hero.png" alt="">
            </div>
        </div>
        <div class="right-header">
            <h1 class="name">
                Olá, eu sou o <span>@_data.FullName</span>,
                @_data.Carrer.
            </h1>
            <p>@_data.Intro</p>
            <CVButton />
        </div>
    </div>
</header>

@code {
    private PersonalInfo _data = RepositoryData.PersonalInfo;

    protected override async Task OnInitializedAsync() => _data = await service.GetPersonalInfo();
}
