@page "/portifolio"
@inject AppService service

<PageTitle>Portifólio - @RepositoryData.PersonalInfo.FullName</PageTitle>

<section class="container active">

    <MainTitle Text1="Meu" Text2="Protifólio" TextBack="my work" />

    <p class="port-text">
        Esses são alguns dos projectos que fiz durante a minha jornada.
    </p>
    <div class="portfolios">
        @foreach (var item in _itemDatas)
        {
            <PortifolioItem Image=@item.Image Url=@item.Url UrlGitHub=@item.UrlGitHub />
        }
    </div>
</section>

@code {
    private List<PortifolioItemData> _itemDatas = RepositoryData.PortifolioItems;

    protected override async Task OnInitializedAsync() => _itemDatas = await service.GetPortifolio();
}
