@page "/portifolio"

<section class="container active">
    <div class="main-title">
        <h2>Meu <span>Portfolio</span><span class="bg-text">My Work</span></h2>
    </div>
    <p class="port-text">
        Esses são alguns dos projectos fiz durante a minha jornada.
    </p>
    <div class="portfolios">
        <PortifolioItem Image="img/port2.jpg"
                        Url="#" />

        <PortifolioItem Image="img/port1.jpg"
                        Url="#"
                        UrlGitHub="#"/>
    </div>
</section>
